@layout('layout.app')

@section('content')
    <nav className="flex sm:justify-center space-x-4">
            <a href="#" className="rounded-lg px-3 py-2 text-slate-700 font-medium hover:bg-slate-100 hover:text-slate-900">
                Shop
            </a>
    </nav>

  
@endsection

